$bright-blue: #39dae3;
$blue: #5794ff;
$green: #c0f4c4;

.green-text {
  color: $green;
}

.blue-text {
  color: $blue;
}

.bright-blue-text {
  color: $bright-blue;
}

.green-bg {
  background-color: $green;
}

.blue-bg {
  background-color: $blue;
}

.bright-blue-bg {
  background-color: $bright-blue;
}